@{
    Layout = "~/Views/_Layout.cshtml";
    ViewData["Title"] = "Home";
}

<div class="text-center mt-5">
    <h1 class="display-4">Welcome to Vigo Cafe ☕</h1>
    <p class="lead mt-3">Enjoy With Coffe and Sweet</p>
    <hr />
</div>